.login-form-container {
  background-image: url("/src/Components/Assets/bone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  height: fit-content;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: fit-content;
  padding: 15vw;
}

.login-page {
  margin-top: 10%;

  h1 {
    text-decoration: underline;
    color: black;
    font-size: 4rem;
    padding-bottom: 5%;
    text-shadow: 2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  }
}


.login-form input {
  width: 50%;
  height: 2rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.login-form button {
  cursor: pointer;
  width: 25%;
  height: 3vw;
  border-radius: 20px;
}

.login-page {
  /* background-image: url("../../Components/Assets/bone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%; */
}