.display-area {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.change-page {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 5%;

  button {
    background: none;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: underline;
    svg {
      font-size: 2rem;
    }
  }
}