.tile {
  display: flex;
  padding: 1rem;
}

.tile-container {
  border: 5px solid rgb(140, 83, 62);
  border-radius: 25px;
  background-color: snow;
}

.tile a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dog-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
  }
}

.tile img {
  height: 10vw;
  width: auto;
}

.dog-img-container {
  display: flex;
  width: 50%;
  justify-content: center;
}

.favorite-dog-btn {
  cursor: pointer;
  background: none;
  border: none;
  img {
    height: 2rem;
    width: auto;
  }
}
